.test-container{
    //border: black solid 1px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

.question-container {
    background-color: #a0d2eb;
    //border: black solid 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

.red-border {
    -webkit-box-shadow:inset 0px 0px 0px 2px #f00;
    -moz-box-shadow:inset 0px 0px 0px 2px #f00;
    box-shadow:inset 0px 0px 0px 2px #f00;
}

.bigger-icon {
    font-size: 20px;
}

.sortable tr {
    cursor: grab;
}


section {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #0049B7;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url("../../public/images/wave.png");
    background-size: 100vw 10vh;
}
.wave1 {
    animation: animate 20s linear infinite;
    z-index: 15;
    opacity: 0.9;
    animation-delay: 0s;
    bottom: 0;
}
.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 10;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
}
.wave3 {
    animation: animate 10s linear infinite;
    z-index: 5;
    opacity: 0.4;
    animation-delay: -2s;
    bottom: 15px;
}
.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 1;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100vw;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -100vw;
    }
}

#floatingInput, #floatingPassword, .white-border-down{
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    border-radius: 0;
}

.white-border-down:focus {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    border-radius: 0;
}

#login-btn {
    border: 2px solid white;
}

#login-btn:hover {
    background-color: #FFFFFF !important;
    color:#0049B7;
}

.btn-white-blue:hover {
    color: #0049B7;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
}

.bg-yellow {
    background-color: #fff685;
}

.navbar-toggler-icon {
    filter: grayscale(1) invert(1);
}

.table-bg
{
    background-color: #E12b38;
}

.btn-danger-hover:hover
{
    background-color: white;
    color: red;
}

.blink{
    animation: blink 5s infinite;
}
@keyframes blink{
    0% {
        color:red;
    }
    100% {
        color: white;
    }
}

@-webkit-keyframes blink{
    0% {
        color:red;
    }
    100% {
        color:white;
    }
}
