.test-container{
    //border: black solid 1px;
}

html {
    height: 100%;
}

footer {
    height: 100px;
    background-color: #eee;
    padding-top: 15px;
    padding-left: 15px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}

.question-container {
    background-color: lightblue;
    //border: black solid 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

.red-border {
    border: red solid 2px;
}
